---
layout: layout
---
<!-- post.ejs -->
<article>
    <div class="container">
      <div class="col-lg-8 col-lg-offset-1 col-sm-9">
          <% if(config.add_this_id) {%>
            <div class="text-center"><%- include('_third-party/share/add-this') %></div><hr>
          <% } %>
          <%- config["content_before_post"] %>
          <%- page.content %>
          <% if (config["content_after_post"]) { %>
            <%- config["content_after_post"] %>
          <% } %>
          <hr>
        <%- partial('_partial/comments') %>
        <%- include('_partial/toc')  %>
      </div>
  </div>
</article>
