<header>
  <nav class="navbar navbar-default header-navbar" id="nav-top" data-ispost = "<%- is_post() %>" data-istags="<%- is_tag() %>" data-ishome = "<%- is_home() %>" >
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" aria-expanded="false"  data-target="#website_navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand animated pulse">
          <a class="brand-logo" href="<%= config.root %>">
            <%- config.title %>
          </a>
        </span>
      </div>

      <div class="collapse navbar-collapse" id="website_navbar">
          <ul class="nav navbar-nav navbar-right">
              <% for (var i in config.menu){ %>
                <li>
                  <a href="<%- url_for(config.menu[i]) %>"><%= i %></a>
                </li>
              <% } %>
          </ul>
      </div>
  </nav>


  <% if(!is_home() && !is_archive() && !(page.layout === "portfolio-slim") && !(page.layout === "poem")) { %>
    <style>
       .intro-header {
          background-image: url('<%= page["cover_img"] || config["cover_default_img"]%>');
      }
    </style>

    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                    <div class="site-heading">
                        <h1><%= page.title || __('posts.untitled')%></h1>
                        <% if (page.subtitle) {%>
                          <div class="post-subtitle"><%- page.subtitle %></div>
                        <% } %>
                        <% if (page.layout === "post") {%>
                          <span class="meta">
                               <span class="meta-item"><%- __('author') %>: <%- page.author || config.author %></span>
                               <span class="meta-item"><%- __('posts.date') %>: <%= page.date.format(config.date_format) %></span>
                               <% if (config["post_update_date_enable"]) {%>
                                 <span class="meta-item"><%- __('posts.update_date') %>: <%= page.updated.format(config.date_format) %></span>
                               <% } %>
                          </span>
                          <div class="tags text-center">
                              <%- __('posts.category') %>: <% page.categories.forEach(function(category){ %>
                              <a class="tag" href="<%= config.root %>categories/#<%= category.name %>"
                                 title="<%= category.name %>"><%= category.name %></a>
                              <% }) %>
                          </div>
                          <div class="tags text-center">
                              <%- __('posts.tag') %>: <% page.tags.forEach(function(tag){ %>
                              <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                                 title="<%= tag.name %>"><%= tag.name %></a>
                              <% }) %>
                          </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <% } %>
</header>
